@import '../css/reset.css';
@import '../css/header.css';
@import '../css/main.css';
@import '../css/experiencia.css';
@import '../css/global.css';
@import '../css/formacao.css';
@import '../css/footer.css';

:root {
    --black: #141414;
    --white: #FFFFFF;
    --silver: #f5f5f5;
    --grey: #525252;
    --grey-medium: #a3a3a3;
    --grey-light: #e0e0e0;
    --purple: #701CDA;
    --grad: linear-gradient(#A839FF, #701CDA);
}